:root {
	--color-greyBg: #f9f9f9;
	--color-grey: #e5e5e5;
	--color-greyLight: #e5e5e5a8;
}

* {
	box-sizing: border-box;
}
body {
	font-family: Roboto;
	margin-left: 300px;
	margin-right: 300px;
	background-color: #EEEEEE;
	border-color: gray;
	border-style: solid;
	display: flex;

}
.true-box {
	background-color: #EEEEEE;
}
.searchBar {
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	position: relative;
	top: 0;
  background: white;
	width: auto;
}

.logo {
  display: flex;
  align-items: center;
}

.youTubeLogo {
  width: 100px;
	margin-left: 15px;
}

.input {
  width: 500px;
  margin: 0;
  padding:0;
}

.button {
  width:  60px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 450px;
  background-color: white;
	left: 0;

}

.sidebar img {
  display: flex;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-top: 20px;
}

.sidebar h5 {
  color: black;
  float: right;
  margin-top: -80px;
  padding-right: 100px;
  padding-left: 200px;
  padding-bottom: 10px;
}



iframe {
  width: 560px;
	height: 315px;
}

.details {
	width: 50%;
	right: 100px;
	background-color: white;
	 flex-grow: 4;
}

#author h3 {
	display: table;
	float:right;
}
#author a{
	margin-top: 20px;
}

#author img{

	border-radius: 50%;

}

#like img{

  width: 20px;
  height: 20px;
  object-fit: none;
  object-position: 0px -867px;


}

#dislike img{
  width: 20px;
  height: 20px;
  object-fit: none;
  object-position: -174px -804px;
}

.suscribe {

}


.suscribe img {
 width: 20%;
 margin-top: 30px;

}

.author img {
	border-radius: 50%;
	width: 50%;
}


.likes {
 display: flex;
}

.separation {
	padding: 100px 0 0 100px;
	overflow: hidden;
	background-color: #EEEEEE;


}

.separation2 {
	padding: 10px 0 0 10px;
	overflow: hidden;
	background-color: #EEEEEE;
}

.text {
	background-color: white;
}
.video-box {
	border-style: solid;
	border-color: red;
	display: flex;
	justify-content: flex-end;



}

.mainBody .thumbnail{
  background-color: white;
	width: 40%;
}

.mainBody {

}
.video1 {
	border-style: solid;
	border-color: black;
	width: 50%;
	flex: 1;

}
